<div class="form-widget">
	{% for paragraphPicture in field.value %}
		<a href="#" class="ea-lightbox-thumbnail" data-featherlight="#ea-lightbox-{{paragraphPicture.id}}" data-featherlight-close-on-click="anywhere">
			<img style="margin: 0.125rem auto;" src="{{asset('images/paragraph-pictures/'~paragraphPicture.picture) | imagine_filter('admin_thumbs')}}" class="img-fluid">
		</a>

		<div id="ea-lightbox-{{paragraphPicture.id}}" class="ea-lightbox">
			<img src="{{asset('images/paragraph-pictures/'~paragraphPicture.picture)}}">
		</div>
	{% endfor %}
</div>
