{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue
{% endblock %}

{% block body %}
  <section class="row col-12 mt-5" style="padding-bottom: 5rem;">
    {# articles #}
    <div class="col-9 offset-1">
      <div class="card-deck">
        {% for article in articles %}
          <div class="card mb-5"
            style="min-width: 30rem; max-width: 40rem; border:none; box-shadow: 0 0  5px -2.5px">
            {% if article.thumbnail != null %}
              <img src="{{ asset(
                  'images/thumbnails/' ~ article.thumbnail
                )|imagine_filter('article_thumb') }}"
                class="card-img-top"
                alt="..." />
            {% else %}
              <img src="{{ asset(
                  'build/images/article.b0aaabc6.jpg'
                )|imagine_filter('article_thumb') }}"
                class="card-img-top"
                alt="..." />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">
                {{ article.title }}
              </h5>
              <div class="card-text">
                {{ article.description|raw }}
              </div>
            </div>
            <div class="card-footer mt-0"
              style="background: none; border: none; display:inline-flex;">
              <a href="{{
                path(
                  'blog_show',
                  {
                    slug: article.slug
                  }
                )
                }}"
                class="card-link btn btn-warning col-3"
                style="max-width:fit-content;">
                Découvrir
              </a>
              <p class="text-right"
                style="width:fit-content; margin-left:auto;">
                <small>{{ article.updatedAt|date('d/m/Y') }}</small>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {# categories #}
    <aside class="col-2" style="margin-left: auto;">
      <h3>
        Categories
      </h3>
      <ul class="list-group">
        {% if url_slug == 'all' %}
          <li style="border:none; background-color: transparent;"
            class="list-group-item list-group-item-action active p-0 m-1 d-flex w-75 justify-content-between align-items-center">
            <a href="{{ path('blog_index') }}"
              style="text-decoration:none; color: black; background-color: #ffc107;"
              class="pl-1 pr-1">
              All
            </a>
            <span class="badge badge-dark badge-pill">
              {{ articles|length }}
            </span>
          </li>
        {% else %}
          <li style="border:none;"
            class="list-group-item list-group-item-action p-0 m-1 d-flex w-75 justify-content-between align-items-center">
            <a href="{{ path('blog_index') }}"
              style="text-decoration:none; color: black;">
              All
            </a>
            <span class="badge badge-dark badge-pill">
              {{ articles|length }}
            </span>
          </li>
        {% endif %}
        {% for category in categories %}
          {% if category.articles.count != 0 %}
            {% if url_slug == category.slug and url_slug != 'all' %}
              <li style="border:none; background-color: transparent;"
                class="list-group-item list-group-item-action active p-0 m-1 d-flex w-75 justify-content-between align-items-center">
                <a href="{{
                  path(
                    'blog_category',
                    {
                      slug: category.slug
                    }
                  )
                  }}"
                  style="text-decoration:none; color: black; background-color: #ffc107;"
                  class="pl-1 pr-1">
                  {{ category.name }}
                </a>
                <span class="badge badge-dark badge-pill">
                  {{ category.articles.count }}
                </span>
              </li>
            {% else %}
              <li style="border:none;"
                class="list-group-item list-group-item-action p-0 m-1 d-flex w-75 justify-content-between align-items-center">
                <a href="{{
                  path(
                    'blog_category',
                    {
                      slug: category.slug
                    }
                  )
                  }}"
                  style="text-decoration:none; color: black;">
                  {{ category.name }}
                </a>
                <span class="badge badge-dark badge-pill">
                  {{ category.articles.count }}
                </span>
              </li>
            {% endif %}
            {# TODO: ajouter is active !!!! #}
          {% endif %}
        {% endfor %}
      </ul>
    </aside>
  </section>
{% endblock %}
