{% extends 'base.html.twig' %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block body %}
  <section class="mt-5" style="padding-bottom: 5rem;">
    <div class="container">
      <div class="mt-3">
        <h2>
          {{ article.title|title }}
        </h2>
        <p class="text-right">
          <small>{{ article.updatedAt|date('d/m/Y') }}</small>
        </p>
      </div>

      {% if article.description != null %}
        {{ article.description|raw }}
      {% endif %}

      <div class="mt-5">
        {% for paragraph in article.paragraphs %}
          <div>
            <h3 class="mt-3 mb-3 ml-3">
              {{ paragraph.title|title }}
            </h3>
            <div class="ml-5">
              {{ paragraph.content|raw }}
            </div>
            {% for picture in paragraph.paragraphPictures %}
              <div class="text-center mt-5">
                <img src="{{ asset(
                    'images/paragraph-pictures/' ~ picture.picture
                  )|imagine_filter('article_thumb') }}"
                  alt="" />
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>

      <div class="mt-5 mb-5">
        <h3 class="mt-3 mb-3">
          Sur l'auteur
        </h3>
        <div class="ml-3">
          <h4 style="display:inline-block; width: fit-content;">
            {{ article.author.name }}
          </h4>
          <p style="display:inline-block; width: fit-content;">
            <small><i>{{ article.author.title }}</i></small>
          </p>
          {{ article.author.shortBio|raw }}
          {% if article.author.linkedin != null %}
            <div>
              <a href="{{ article.author.linkedin }}"
                target="_blank"
                style="text-decoration:none;">
                <i class="fab fa-linkedin" style="font-size: 1.25rem;"></i>
                <span>{{ article.author.linkedin }}</span>
              </a>
            </div>
          {% endif %}
          {% if article.author.gitlab != null %}
            <div>
              <a href="{{ article.author.gitlab }}"
                target="_blank"
                style="text-decoration:none;">
                <i class="fab fa-gitlab" style="font-size: 1.25rem;"></i>
                <span>{{ article.author.gitlab }}</span>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
