<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <title>
      DevShane Blog -{% block title %}

      {% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% include 'inc/nav.html.twig' %}
    {# banniere #}
    <header class="col-12"
      style="height: 350px; background-image: url({{ asset(
        'build/images/banner.4855492f.jpg'
      )|imagine_filter(
        'banner'
      ) }}); background-position: center; background-size: cover; background-position-y: 95%; display: flex; box-shadow: 0 0  10px -3.5px;">
      <h1 class="text-white"
        style="transform:rotate(90deg); margin-left: auto; margin-right: 1%; opacity: 0.8;">
        Tech news &amp; More
      </h1>
    </header>
    <main style="position:relative; min-height: 100%;">
      {% block body %}

      {% endblock %}
      <footer class="col-12"
        style="height: 5rem; background-color: #343a40; box-shadow: 0 0  10px -3.5px; position: absolute; bottom: 0;">
        <div class="d-flex w-100 h-100">
          <p class="text-white text-center" style="margin:auto;">
            &copy;devShane 2021
          </p>
        </div>
      </footer>
    </main>
  </body>
</html>
