<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" box-shadow: 0 0  10px -3.5px;">
  <a class="navbar-brand" href="{{path('blog_index')}}">DevShane Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>